.ls{
    background: #2C3E50;
    color: #ECF0F1;
    height: 75vh;
    border-top-left-radius: 10px; /* Matches chat-container's radius */
    border-bottom-left-radius: 10px;
    overflow: hidden; /* Prevents content from overflowing the rounded corners */
}
.ls-top{
    padding: 20px;
}
.ls-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ls-nav .logo{
    max-width: 140px;
}
.ls-nav .menu img{
    max-height: 20px;
    opacity: 0.6;
    cursor: pointer;
}
.ls-search{
    background-color: #6C7A8D;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
    border-radius: 5px;
}
.ls-search img{
    width: 16px;
}
.ls-search input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 11px;
}
.ls-search input::placeholder{
    color: #c8c8c8;
}
.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}
.friends img{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.friends{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}
.friends div{
    display: flex;
    flex-direction: column;
}
.friends span{
    color: #c6c5c5;
    font-size: 11px;
}
.friends:hover{
    background-color: #077EFF;
}
.friends:hover span{
    color: white;
}